extends layout

block content
<<<<<<< HEAD
  #image
  h2 City League
  -var result = JSON.parse(results)
  -for(var num in result)
   p #{result[num].City} - #{result[num].Score}
=======
  #citysilhouette
  #image
  p Score Tables
>>>>>>> FETCH_HEAD
